@font-face {
  font-family: "TTLakes";
  src: url(./fonts/TTLakes-Regular.woff) format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}
.header__left {
  display: flex;
}

.header__right {
  display: flex;
}
.header__rigth_group-left {
  display: flex;
  gap: 16px;
}
.header__right_group-right {
  display: flex;
  gap: 16px;
  position: relative;
}

.header__right_group-right::before {
  content: "";
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #eaeaea;
  position: absolute;
  top: 28px;
  left: -20px;
}

.item {
  background-color: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

.logo {
  margin-left: 16px;
  padding: 18.59px 0;
}
.main {
  background: #f8f8f8;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
h1 {
  padding-top: 24px;
  color: #1b1c21;
  font-family: TTLakes;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;
}
.main__nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 24px;
}
.main__nav > .main__nav_item {
  white-space: nowrap;
  color: #7e7e82;
  font-family: TTLakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-decoration: none;
  padding: 8px 10px 8px 16px;
}
.main__nav_item:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
.main__text {
  color: #1b1c21;
  font-family: TTLakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
}
.main__text_readMore {
  background-color: #f8f8f8;
  border: none;
  padding: 16px 0;
  color: #1b1c21;
  font-family: TTLakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.main__text_readMore::before {
  content: url(./img/expand.svg);
  position: relative;
  top: 5px;
  display: inline-block;
}
.main__img {
  padding-left: 0;
}
.section {
  display: none;
}

.section__group_item-button{
  background-color:inherit;
  border: none; 
  margin: 0;
  padding: 0;
  
}
.section__group{
  display: flex;
  gap: 42px;
}
@media (min-width: 1120px) {
  .main__nav {
    display: flex;
    flex-wrap: wrap;
  }
  .main__img {
    /* margin-bottom: 24px; */
  }
}
@media (max-width: 1920px) {
  .main {
    height: 535px;
  }
  .main__title {
    display: none;
  }
  .section__title {
    display: inline;
  padding-top: 42px;  }

  .header {
    display: none;
  }
  .section__title {
    padding: 0;
  }
  .section__group_item-button{
    padding-top: 42px;
  }
  .application:before{
    content: 'Оставить заявку';
   position: relative;
   bottom: 14px;
   margin-right: 8px;
    color: #1B1C21;
    width: 125px;
  text-align: right;
  font-family: TTLakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  }

  .status-repair::before{
    content: 'Статус ремонта';
    position: relative;
    bottom: 14px;
    margin-right: 8px;
     color: #1B1C21;
     width: 125px;
   text-align: right;
   font-family: TTLakes;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px; /* 150% */
   letter-spacing: -0.2px;
  }
  .section__title:before,
  .main__title::before {
    content: url(./img/highlight.svg);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
  }
  .section {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 0 32px;
    margin: 0;
  }
  .section__group,
  .section__group_item {
    display: flex;
  }
  .section__group {
    gap: 32px;
  }
  .section__group_item {
    gap: 8px;
  }
  .section__group_item-title {
    padding-top: 50px;
    color: #1b1c21;
    font-family: TTLakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }
  .section__group_item-link,
  .section__title {
    padding-top: 42px;
  }
  .main__group_main {
    display: flex;
    justify-content: space-around;
  }

  .main__text {
    display: inline-block;
    width: 490px;
    max-height: 160px;
  }
  .header__rigth_group-left {
    display: flex;
    margin-right: 42px;
  }
  .main__text_item {
    min-width: 100px;
  }
  .main__img {
    display: flex;
    width: 535px;
    margin-right: 32px;
  }
  .img {
    display: none;
  }
}
@media (max-width: 1119px) {
  .section {
    display: none;
  }
  .section__title {
    display: inline;
  }
  .header {
    display: flex;
  }
  .main {
    padding-left: 24px;
  }
  .main__title {
    display: inline;
  }
  .main__group_main {
    display: flex;
    justify-content: space-around;
  }

  .main__text {
    display: inline-block;
    width: 312px;
  }
  .header__rigth_group-left {
    display: flex;
    margin-right: 42px;
  }
  .main__img {
    display: block;
    max-width: 100%;
  }
  .img {
    display: none;
  }
}

@media (max-width: 767px) {
  body {
    height: 100%;
  }
  .header {
    display: flex;
  }

  .main {
    height: auto;
  }
  .main__nav {
    padding: 24px 0;
  }
  .main__text {
    width: 100%;
  }

  .header__rigth_group-left {
    display: none;
  }
  .img {
    display: block;
    width: 100%;
  }
  .main__img {
    display: none;
  }
}
