@font-face {
  font-family: "TTLakes";
  src: url(/KateAcademy/HTML_CSS/block1.3/fonts/TTLakes-Regular.woff) format("truetype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "TTLakes";
}
body {
  font-family: "TTLakes";
}
.main__st {
  display: flex;
}
.header__item {
  width: 40px;
}
.header__logo {
  width: 96.548px;
  margin-left: 16px;
}
.main {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main__links {
  display: flex;
  margin-bottom: 24px;
}
.header__item_item {
  padding: 24px 16px;
}
.main__title {
}
.main__title-container {
}
.main__title-container > svg {
  position: absolute;
  left: 0;
  top: 24px;
}
@media (min-width: 320px) {
  .main__header {
    display: none;
  }
  .main__image_img {
    display: none;
  }
  .header__group {
    display: none;
  }

  .header__logo {
    display: flex;
    padding-left: 16.73px;
    padding-right: 16.73px;
    padding-top: 18.59px;
    padding-bottom: 18.59px;
  }
  header {
    display: flex;
    width: 100%;
    background-color: #fff;
  }
  .header__item:not(:first-child) {
    padding-left: 14px;
  }
  .header__item.remont {
    position: relative;
  }
  .header__item.remont::before {
    position: absolute;
    top: 28px;
    left: 2px;
    display: inline-block;
    content: "";
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
  }

  body {
    background-color: #f8f8f8;
    max-width: 320px;
    font-family: "TTLakes";
  }
  .container {
    padding: 0 16px;
  }
  .main > .main__title {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
    /* padding: 24px 0; */
    margin-top: 24px;
  }
  .main__links {
    overflow-x: scroll;
  }
  .main__links > .links__item {
    flex-shrink: 0;
    padding: 8px 10px;
  }
  .main__links > .links__item:hover {
    border-radius: 6px;
    border: 2px solid #b8ffec;
    background: #fff;
  }
  .main__links > .links__item:not(:first-child) {
    margin-left: 20px;
  }
  .main__text {
    width: 288px;
    margin-bottom: 16px;
  }
  .main__text > .menu__text_text {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }
  .further {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
  }
  .further::before {
    content: url("img/expand.svg");
    
  }
  .main__image {
    width: 320px;
    height: 176px;
    background-repeat: no-repeat;
  }
  .menu__text_hiden {
    display: none;
  }
}
@media (min-width: 768px) {
  .main__title{
    font-family:TTLakes;
  }
  .main__header {
    display: none;
  }
  .header__group {
    display: flex;
    gap: 16px;
    padding: 24px 0;
  }
  .header__logo {
    margin-right: 250px;
    margin-left: 40px;
  }

  .burger::before {
    position: absolute;
    content:url();
    display: inline-block;
    top: 28px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
  }
  .header__item.remont::before {
    position: absolute;
    left: 16px;
    content: "";
    display: block;
    top: 28px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
  }
  main.main {
    width: 768px;
    height: 416px;
    padding-right: 5px;
    background-color: #f8f8f8;
  }

  .main__links {
    overflow: scroll;
    /* padding-right: 5px;
    padding-left: 5px; */
  }
  .links_item {
    color: #7e7e82;
    font-family:TTLakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }
  body {
    background-color: #fff;
    font-family:TTLakes;
  }
  .main__image_img {
    display: block;
    width: 360px;
    height: auto;
  }
  .main__image {
    display: none;
  }
  .main__text {
    width: 768px;
    display: flex;
    justify-content: space-around;
  }
  .main__text_left {
    display: flex;
    flex-direction: column;

    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
  }
  .main__text_main {
    width: 312px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menu__text_hiden {
    display: inline;
  }
}
@media (min-width: 1120px) {
  header {
    display: none;
  }
  body {
    max-width: 1120px;
    font-family:TTLakes;
  }
  main.container {
    width: 1120px;
    height: 535px;
    display: block;
  }

  .main__title {
    display: none;
    font-family:TTLakes;
  }

  .main__header {
    display: flex;
    height: 88px;
    justify-content: space-between;
    padding-right: 32px;
    color: #1b1c21;
    text-align: right;
    font-family: TT Lakes;
    padding-top: 42px;
    margin-bottom: 17px;
  }
  .main__header_right,
  .main__header_left,
  .header_right-remont,
  .header_right-status {
    display: flex;
    align-items: center;
  }
  .main__header_right {
    gap: 32px;
  }
  .main__header_item {
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }
 
  .main__links {
    margin-top: 0px;
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
  }
  .links__item {
    padding: 35px;
  }

  .main__text {
    margin-bottom: 23;
    width: 1058px;
    justify-content: space-between;
  }
  .main__image_img {
    width: 450px;
  }
  .main__text_main {
    margin-bottom: 14px;
  }
}
